In [1]:
import sys
from os import listdir
from os.path import isdir,isfile, join
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns

# DE genes

In [2]:
cm = pd.read_csv('/Users/minjunpark/Documents/hali/syntax_analysis/DE_genes/DEG_whole_heart_P1_vs_P8_MI_RNA_Cardiomyocytes.csv', index_col=0)
fb = pd.read_csv('/Users/minjunpark/Documents/hali/syntax_analysis/DE_genes/DEG_whole_heart_P1_vs_P8_MI_RNA_Fibroblasts.csv', index_col=0)
endo = pd.read_csv('/Users/minjunpark/Documents/hali/syntax_analysis/DE_genes/DEG_whole_heart_P1_vs_P8_MI_RNA_Endothelial_1.csv', index_col=0)

In [3]:
cm

                p_val  avg_log2FC  pct.1  pct.2     p_val_adj
Actb     0.000000e+00   -3.579699  0.639  0.953  0.000000e+00
Actc1    0.000000e+00    2.856948  0.998  0.338  0.000000e+00
Myl2     0.000000e+00    3.390666  0.995  0.336  0.000000e+00
Myl3     0.000000e+00    3.219670  0.993  0.315  0.000000e+00
Slc25a4  0.000000e+00    2.614645  0.998  0.690  0.000000e+00
...               ...         ...    ...    ...           ...
Ybx1     1.422799e-11   -0.047966  0.900  0.797  3.553299e-07
Cdca8    3.153871e-11   -0.665434  0.177  0.266  7.876479e-07
mt-Rnr2  4.710665e-04   -0.212469  1.000  1.000  1.000000e+00
mt-Rnr1  1.509466e-03   -0.218356  0.960  0.949  1.000000e+00
Hmmr     2.135803e-03   -0.445632  0.193  0.251  1.000000e+00

[2786 rows x 5 columns]

In [6]:
## Filter df (adj p-val < 0.01 & abs(log2FC) > 1.25)
p_val_thres = 0.01
log2FC_thres = 1.25

cm = cm[cm.p_val_adj < p_val_thres]
cm = cm[cm.avg_log2FC > log2FC_thres]
fb = fb[fb.p_val_adj < p_val_thres]
fb = fb[fb.avg_log2FC > log2FC_thres]
endo = endo[endo.p_val_adj < p_val_thres]
endo = endo[endo.avg_log2FC > log2FC_thres]
cm

                p_val  avg_log2FC  pct.1  pct.2     p_val_adj
Actc1    0.000000e+00    2.856948  0.998  0.338  0.000000e+00
Myl2     0.000000e+00    3.390666  0.995  0.336  0.000000e+00
Myl3     0.000000e+00    3.219670  0.993  0.315  0.000000e+00
Slc25a4  0.000000e+00    2.614645  0.998  0.690  0.000000e+00
Tnnt2    0.000000e+00    2.654837  0.995  0.437  0.000000e+00
...               ...         ...    ...    ...           ...
Nppa     5.191542e-79    3.448894  0.605  0.111  1.296536e-74
Nmrk2    9.522836e-71    1.876591  0.395  0.013  2.378233e-66
Gm28438  9.283941e-68    1.302562  0.543  0.099  2.318572e-63
mt-Co1   8.753882e-65    2.053520  0.950  0.756  2.186195e-60
Clu      1.527522e-42    1.684609  0.361  0.056  3.814832e-38

[252 rows x 5 columns]

# LA down CM1

In [6]:
#sns.set_theme(color_codes=True)
df_down = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/data/LAdown_bicluster_outs/A1JVI6.bed', header=None, sep='\t')
df_down

         0          1          2  3
0     chr4   43005833   43006305  0
1    chr13   12257146   12258509  0
2    chr16    4474490    4475757  0
3     chr3  142345065  142346447  0
4     chr4   86083756   86084229  0
..     ...        ...        ... ..
118  chr10   95551851   95553216  0
119  chr13   12326713   12328185  0
120  chr16    4511271    4513209  0
121   chr1   55074064   55075901  0
122   chr4   43057573   43060739  1

[123 rows x 4 columns]

In [5]:
#LAdown_gene_list = ['Myoz2', 'Jph2', 'Actn2', 'Stat3', 'Atp1a1', 'Pdlim5', 'Asb2']
LA_gene_list = list(LAcm.index)
LA_genes = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/jeff/LA_genes_100Kb_expressed_adjp(0.01).bed', sep='\t', header=None)
#LAdown_genes = LAdown_genes[LAdown_genes[0].isin(LAdown_gene_list)]
LA_genes

           0      1          2          3
0        Ckm   chr7   19311094   19511095
1      Appl2  chr10   83548663   83748664
2    Tmem108   chr9  103661836  103861837
3      Tfdp2   chr9   96096275   96296276
4       Sgk3   chr1    9698130    9898131
..       ...    ...        ...        ...
214    Aldoa   chr7  126699177  126899178
215   Atp5g1  chr11   95975630   96175631
216   Ndufb9  chr15   58833810   59033811
217   Uqcr11  chr10   80306820   80506821
218    Tnni3   chr7    4422442    4622443

[219 rows x 4 columns]

In [6]:
! mkdir -p LA_all
for i in range(len(LA_genes)):
    num = 0
    gene = LA_genes.iloc[i,0]
    chromosome = LA_genes.iloc[i,1]
    start = LA_genes.iloc[i,2]
    end = LA_genes.iloc[i,3]
    r1 = set(range(start, end))
    with open('./LA_all/{}.bed'.format(gene), 'w') as f:
    
        for j in range(len(df_down)):
            chromosome2 = df_down.iloc[j,0]
            start2 = df_down.iloc[j,1]
            end2 = df_down.iloc[j,2] 
            r2 = set(range(start2, end2))

            if chromosome == chromosome2 and len(r1.intersection(r2)) > 0:
                f.write('{}\t{}\t{}\n'.format(chromosome2, start2, end2))
                num += 1
                
    if num > 0:
        df = pd.read_csv('./LA_all/{}.bed'.format(gene), sep='\t', header=None)
        df = df.drop_duplicates() # remove duplicate rows
        df.to_csv('./LA_all/{}.bed'.format(gene), sep='\t', header=None, index=None)

# PV up CM1

In [7]:
#sns.set_theme(color_codes=True)
df_up = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/data/PVup_bicluster_outs/A1JVI6.bed', header=None, sep='\t')
df_up

        0          1          2  3
0   chr19    9094840    9095248  0
1   chr17   56672645   56673902  0
2   chr17   56764335   56765579  0
3   chr19    9052134    9053726  0
4   chr19    9065305    9066483  0
5    chr7   19420455   19421778  0
6    chr7   19449383   19450119  0
7    chrX  103555060  103557442  0
8   chr11   54871743   54872846  1
9   chr17   56716496   56718155  0
10   chr7    4515363    4517199  0
11   chr7   19409471   19412180  1
12  chr11   54910134   54914274  0
13   chrX  103555060  103557442  0
14  chr11   54910134   54914274  0
15   chr7    4520977    4524634  0
16   chr8   25264155   25264615  0
17   chrX  103532657  103533182  0
18   chr7    4532110    4532902  0
19  chr11   54879438   54880381  0
20   chr6   87395143   87395601  0
21  chr19    9059427    9060673  0
22  chr17   56813572   56815421  0
23   chr7   19491624   19492335  0
24   chr8   25118586   25119865  0
25  chr11   54955634   54956573  0
26  chr11   54927037   54928398  0
27   chr7    4444902    4446020  0
28   chrX  103555060  103557442  0
29  chr11   54910134   54914274  0
30  chr19    9047263    9048426  1
31  chr17   56761980   56762414  0
32   chr7   19464688   19465183  0
33  chr19    9104978    9107758  0
34   chrX  103492481  103494376  0
35   chr7    4513161    4514789  0
36  chr17   56808342   56809130  0
37   chrX  103563217  103564635  0
38   chr8   25234943   25235641  0
39   chr7   19359251   19362816  0
40  chr19    9065305    9066483  0
41  chr17   56702744   56703868  0
42  chr15   77068319   77069415  1
43   chr2  181241455  181242518  0
44   chr6   87334261   87336177  1
45   chr6   87447857   87451562  0
46   chr8   25215617   25216249  0

In [8]:
#PVup_gene_list = ['Tnni3', 'Nrtn', 'Gpx3', 'Bmp10']
PV_gene_list = list(PVcm.index)
PV_genes = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/jeff/PV_genes_100Kb_expressed_adjp(0.01).bed', sep='\t', header=None)
#PVup_genes = PVup_genes[PVup_genes[0].isin(PVup_gene_list)]
PV_genes

           0      1          2          3
0      Tacc1   chr8   25101448   25301449
1    Scgb1a1  chr19    8987955    9187956
2     Mapk10   chr5  103111333  103311334
3     Malat1  chr19    5702670    5902671
4     Lrrtm3  chr10   63990254   64190255
..       ...    ...        ...        ...
116      Lpl   chr8   68780555   68980556
117    Mecom   chr3   29913203   30113204
118      Clu  chr14   65868483   66068484
119     Ryr3   chr2  112930330  113130331
120  Slc25a4   chr8   46111008   46311009

[121 rows x 4 columns]

In [12]:
!mkdir -p PV_all

for i in range(len(PV_genes)):
    num = 0
    gene = PV_genes.iloc[i,0]
    chromosome = PV_genes.iloc[i,1]
    start = PV_genes.iloc[i,2]
    end = PV_genes.iloc[i,3]
    r1 = set(range(start, end))
    with open('./PV_all/{}.bed'.format(gene), 'w') as f:
    
        for j in range(len(df_up)):
            chromosome2 = df_up.iloc[j,0]
            start2 = df_up.iloc[j,1]
            end2 = df_up.iloc[j,2] 
            r2 = set(range(start2, end2))

            if chromosome == chromosome2 and len(r1.intersection(r2)) > 0:
                f.write('{}\t{}\t{}\n'.format(chromosome2, start2, end2))
                num += 1
    
    if num > 0:
        df = pd.read_csv('./PV_all/{}.bed'.format(gene), sep='\t', header=None)
        df = df.drop_duplicates() # remove duplicate rows
        df.to_csv('./PV_all/{}.bed'.format(gene), sep='\t', header=None, index=None)

# PV cm2 up

In [8]:
#sns.set_theme(color_codes=True)
df_up = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/data/PVcm2_up_bicluster_outs/A1JVI6.bed', header=None, sep='\t')
df_up

         0          1          2  3
0    chr11   75711552   75711711  0
1     chrX  106026345  106027887  0
2    chr14   79549024   79550906  1
3    chr18   36678719   36679900  0
4     chr7   75469780   75470951  0
..     ...        ...        ... ..
681   chr2   68404319   68407355  0
682   chr5  122467470  122470234  1
683  chr14   51902671   51905316  0
684   chr8   36639272   36641325  0
685   chr1  135103985  135106382  1

[686 rows x 4 columns]

In [9]:
#PVup_gene_list = ['Tnni3', 'Nrtn', 'Gpx3', 'Bmp10']
PVcm2_gene_list = list(PVcm2.index)
PVcm2_genes = pd.read_csv('/Users/minjunpark/Documents/Pitx2/manuscript/fig3/code/PVcm2_up_genes_100Kb_expressed.bed', sep='\t', header=None)
#PVup_genes = PVup_genes[PVup_genes[0].isin(PVup_gene_list)]
PVcm2_genes

                 0      1          2          3
0            Tacc1   chr8   25101448   25301449
1              Ckm   chr7   19311094   19511095
2    9530026P05Rik   chr6   92840582   93040583
3          Tnfaip8  chr18   49879427   50079428
4            Fgf14  chr14  124092545  124292546
..             ...    ...        ...        ...
204          Atp5k   chr5  108334377  108534378
205          Cox7c  chr13   85946794   86146795
206         Ndufa2  chr18   36644547   36844548
207         Atp5g3   chr2   73811293   74011294
208         Ndufb9  chr15   58833810   59033811

[209 rows x 4 columns]

In [10]:
!mkdir -p PVcm2_all

for i in range(len(PVcm2_genes)):
    num = 0
    gene = PVcm2_genes.iloc[i,0]
    chromosome = PVcm2_genes.iloc[i,1]
    start = PVcm2_genes.iloc[i,2]
    end = PVcm2_genes.iloc[i,3]
    r1 = set(range(start, end))
    with open('./PVcm2_all/{}.bed'.format(gene), 'w') as f:
    
        for j in range(len(df_up)):
            chromosome2 = df_up.iloc[j,0]
            start2 = df_up.iloc[j,1]
            end2 = df_up.iloc[j,2] 
            r2 = set(range(start2, end2))

            if chromosome == chromosome2 and len(r1.intersection(r2)) > 0:
                f.write('{}\t{}\t{}\n'.format(chromosome2, start2, end2))
                num += 1
    
    if num > 0:
        df = pd.read_csv('./PVcm2_all/{}.bed'.format(gene), sep='\t', header=None)
        df = df.drop_duplicates() # remove duplicate rows
        df.to_csv('./PVcm2_all/{}.bed'.format(gene), sep='\t', header=None, index=None)